<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quote Me</title>
</head>
<body>
    <h1>Learn some KNOWLEDGE</h1>
    <% for(x of users) { %>
        <p>Name:<%= x.name %>   Quote: <%= x.message %>
    <% } %>

    <div><a href="/">Go Back</a></div>
</body>
</html>